<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-8">
		<h2>Twitter Accounts</h2>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active"><strong>Accounts</strong></li>
		</ol>
		<div ng-controller="SocialAccountsCtrl">
			Account: 
			<select ng-model="activeTwitterAccount"
				ng-options="account.username for account in socialAccounts">
			</select>
			<div>
				<a href="/social/twitter_oauth_redirect/{{ id }}" ><span class="label label-warning">New Keys (social login){{ $scope.activeAccount.id }}</span></a>
			</div>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content p-xl">
	<div class="animated fadeInRight">
		<div class="row">
			<div class="ibox float-e-margins" ng-controller="TwitterAccountsCtrl">
			
	            <div class="ibox-title">
	                <h5>Usable Twitter Accounts</h5>
	            </div>
	            <div class="ibox-content" ng-repeat="ta in twitterAccounts">
	            	<div class="row" >
	            		<h3>Name: {{ ta.name }} </h3><a href="http://twitter.com/{{ ta.screen_name }}" >@{{ ta.screen_name }}</a> 
	            	</div>
	                <div class="row">
	                	<div class="col-xs-1">
	                		<img src="{{ ta.profile_image_url_https }}" />
	                	</div>
	                    <div class="col-xs-1">
	                        <small class="stats-label">Following</small>
	                        <h4>{{ ta.friends_count }}</h4>
	                    </div>
	                    <div class="col-xs-1">
	                        <small class="stats-label">Followers</small>
	                        <h4>{{ ta.followers_count }}</h4>
	                    </div>
	                    <div class="col-xs-1">
	                        <small class="stats-label">Tweets</small>
	                        <h4>{{ ta.statuses_count }}</h4>
	                    </div>
	                    <div class="col-xs-1">
	                        <small class="stats-label">Favorites</small>
	                        <h4>{{ ta.favourites_count }}</h4>
	                    </div>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
