<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-8">
		<h2>Twitter Dashboard</h2>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active"><strong>Dashboard</strong></li>
		</ol>
		<div ng-controller="socialAccountsCtrl">
			Account: 
			<select ng-model="socialAccounts"
				ng-options="account.username for account in socialAccounts">
			</select>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content p-xl">
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-lg-2">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<span class="label label-success pull-right">Monthly</span>
						<h5>Focus User</h5>
					</div>
					<div class="ibox-content">
						<h1 class="no-margins">386,200</h1>
						<div class="stat-percent font-bold text-success">
							98% <i class="fa fa-bolt"></i>
						</div>
						<small>Total income</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
